@model IEnumerable<Web.Models.Pizza>

@{
    ViewData["Title"] = "AdminsPage";
    int nump = 1;
    ViewBag.Title = "Index";
    //var OPID = ViewBag.OPID;
    var ADID = ViewBag.ADIDUser;
    var ADIDName = ViewBag.ADIDName;
    var toca = ViewBag.toca;
    var tnop = ViewBag.tnop;
    var tnot = ViewBag.tnot;
    var profit = ViewBag.profit;
    var inventoryleft = ViewBag.inventoryleft;
    Layout = "~/Views/Shared/_Layout1.cshtml";
    int totalordercost1 = 0;
}

<h1>Administrator Information</h1>
<h4>Total Amount Users Have Spent: $@toca</h4>
<h4>Total Amount of Pizzas Sold: @tnop</h4>
<h4>Total Amount of Toppings Sold: @tnot</h4>
<h4>Inventory: @inventoryleft Pizza Ingredients Packs Left</h4>
<h4>Sales: $@profit in Total Profits</h4>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nump)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Pizzaid)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crust)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Porderid)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ToppingN1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToppingN2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToppingN3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToppingN4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToppingN5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @nump
                    @{nump++;}
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Pizzaid)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crust)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.Porderid)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ToppingN1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToppingN2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToppingN3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToppingN4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToppingN5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                    @{
                        totalordercost1 += item.Cost;
                    }
                </td>
                <td>
                    @*<a asp-action="ToppingsPage" asp-route-ptid=@item.Pizzaid>Toppings</a> |
                        <a asp-action="CreateTopping" asp-route-pid=@item.Pizzaid>Add Toppings</a>*@
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
@*<h4>Total Order Cost: @totalordercost1</h4>*@
<h4>Total Orders Cost: @toca</h4>
<a asp-action="OrdersPage" asp-route-uoid=@ADID>Back To Orders List</a>